/* global style resets */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
}
#wrapper {
  /* border: solid red; */
  border: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  align-items: stretch;
}

.vendingMachine {
  box-sizing: border-box;
  border: .5rem solid black;
  height: 2rem;
  width: 2rem;
  position: relative;
}
#front {
  /* border: solid red; */
  background-color: rgb(103, 84, 55);
  top: 10%;
  width: 30%;
  height: 80%;
}
#storage {
  /* border: solid orange; */
  border: .5rem solid rgb(69, 69, 69);
  background-color: black;
  top: 4%;
  left: 5%;
  width: 65%;
  height: 70%;
}
#rows {
  /* border: solid yellow; */
  /* background-image: url(boon_pokeball.png); */
  width: 100%;
  height: 100%;
}
#window {
  /* border: solid green; */
  /* border: .5rem solid rgb(82, 82, 82); */
  background-color: rgb(99, 147, 147);
  opacity: .2;
  float: left;
  position: absolute;
  top: 4%;
  left: 5%;
  width: 65%;
  height: 70%;
}
#keypadFrame {
  /* border: solid blue; */
  border: .4rem solid black;
  background-color: rgb(103, 103, 103);
  float: right;
  position: absolute;
  top: 10%;
  right: 3%;
  width: 24%;
  height: 30%;
}
#lcdScreen {
  /* border: solid purple; */
  border: .4rem solid black;
  background-color: rgb(85, 5, 5);
  width: 80%;
  height: 30%;
  top: 6%;
  left: 10%;
}
#numPad {
  /* border: solid teal; */
  border: .4rem solid black;
  background-color: rgb(189, 189, 189);
  width: 88%;
  height: 50%;
  top: 13%;
  left: 6%;
}
#billSlot {
  /* border: solid violet; */
  background-color: rgb(37, 37, 37);
  float: right;
  top: -24%;
  right: 5%;
  width: 20%;
  height: 3.5%;
}
#coinSlot {
  /* border: solid pink; */
  background-color: rgb(37, 37, 37);
  float: right;
  top: -18%;
  right: -15%;
  width: 4%;
  height: 7%;
}
#changeReturn {
  /* border: solid greenyellow; */
  border: 4px solid rgb(107, 107, 107);
  /* background-color: rgb(42, 42, 42); */
  position: absolute;
  float: right;
  /* top: 6%; */
  /* right: -20%; */
  right: 2%;
  bottom: 10%;
  width: 18%;
  height: 10%;
}
#changeReturn div{
  /* border: solid greenyellow; */
  background-color: rgb(42, 42, 42);
  /* float: right; */
  /* top: 6%; */
  /* right: -20%; */
  width: 100%;
  height: 100%;
}
#itemRetrieval {
  /* border: solid grey; */
  background-color: rgb(20, 20, 20);
  position: absolute;
  float: right;
  /* top: 6%; */
  bottom: 5%;
  left: 7%;
  width: 60%;
  height: 18%;
}