body {
  background-color: cadetblue;
}
.button-container {
  border: solid blue;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 90%;
  height: 40%;
  top: 10%;
  left: 5%;
  transform-style: preserve-3d;
}
.die-btn {
  margin: 0;
  border: none;
  /* padding: 0; */
  background: transparent;
  /* background-image: url(../../src/media/d20.png); */
  background-size: contain; /* Adjusts the image size to cover the entire button */
  background-position: center; /* Centers the image within the button */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: black;
  font-size: .6rem;
  font-weight: bold;
  cursor: pointer;
  /* width: 20%;
  height: 80%; */
  width: 80px;
  height: 80px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: relative;
  float: left; */
}
.triangle {
  /* border: solid red; */
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto; /* Center the cube horizontally */
  transform: rotateX(-40deg) rotateY(45deg); /* Adjust rotation to look at a corner */
}

.d4 {
  background-image: url(../../src/media/dice/d4.png);
}

#d4left{
  position: relative;
  float: left;
  width: 45px;
  height: 45px;
  transform:translateY(11px) translateX(-15px) rotateY(-100deg);
  box-sizing: border-box;
}

#d4right{
  position: relative;
  float: left;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  transform: translateY(0px) translateX(35px) rotateX(10deg) rotateY(10deg);
}


.d6 {
  background-image: url(../../src/media/dice/d6.png);
  /* border: solid red; */
  /* position: relative; */
}
#d6left {
  /* border: solid green; */
  position: relative;
  float: left;
  padding-top: 10%;
  /* top: 12%; */
  /* left: 3%; */
  width: 45px;
  height: 45px;
  transform: translateZ(11px) translateY(-2px) translateX(-27px) rotateY(-90deg);
  box-sizing: border-box;
}
#d6right {
  /* border: solid orange; */
  position: relative;
  float: left;
  padding-top: 10%;
  /* top: 12%; */
  /* left: 6%; */
  width: 45px;
  height: 45px;
  transform: translateZ(32px) translateY(-43px) translateX(0px) rotateY(0deg);
  box-sizing: border-box;
}
#d6top {
  /* border: solid yellow; */
  position: relative;
  float: left;
  /* top: -50%; */
  /* left: 25%; */
  width: 45px;
  height: 45px;
  transform: rotateX(90deg) translateX(-0px) translateY(8px) translateZ(111px);
  box-sizing: border-box;
}
.cube div {
  padding-top: 1rem;
}

.hexagon {
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto; /* Center the cube horizontally */
}

#d8left{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(40deg) rotateY(-15deg) translateY(-22px) translateX(-16px) translateZ(10px) rotateZ(87deg) skewX(25deg);
}

#d8right{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(-40deg) rotateY(-15deg) translateY(-14px) translateX(12px) translateZ(-16px) rotateZ(-87deg) skewX(-25deg);
}

#d8center{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateY(32px) translateX(17px);
}

#d8bottom{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateY(55px) translateX(-18px) rotateX(50deg) ;
}
.d8 {
  background-image: url(../../src/media/dice/d8.png);
}

#d10center{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(16px) translateY(28px);
}

#d10topLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(-20deg) rotateY(60deg) translateX(-27px) translateY(-27px) rotateZ(45deg) skewX(-20deg);
}

#d10topRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(20deg) rotateY(-60deg) translateX(90px) translateY(-30px) rotateZ(-20deg) skewX(20deg) skewY(-15deg);
}

#d10botLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(30deg) rotateY(50deg) translateX(20px) translateY(-80px) rotateZ(-80deg) skewY(50deg);
  font-size: 8px;
}

#d10botRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotateX(30deg) rotateY(-50deg) translateX(30px) translateY(-98px) rotateZ(100deg) skewX(20deg) skewY(-40deg);
  font-size: 8px;
}

.d10 {
  background-image: url(../../src/media/dice/d10.png);
  padding-top: .6rem;
}

#d12top{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(16px) translateY(-36px);
}

#d12center{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(16px) translateY(28px);
}

#d12left{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(-12px) translateY(-53px) rotateX(30deg) rotateY(-45deg) rotateZ(10deg) skewY(40deg) skewX(-5deg);
}

#d12right{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(44px) translateY(-88px) rotateX(-30deg) rotateY(45deg) rotateZ(-10deg) skewY(-10deg) skewX(5deg);
}

#d12botLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(13px) translateY(-97px) rotateX(20deg) rotateY(35deg) rotateZ(-45deg) skewY(20deg) skewX(30deg);
  font-size: 8px;
}

#d12botRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(18px) translateY(-135px) rotateX(10deg) rotateY(-30deg) rotateZ(45deg) skewY(-10deg) skewX(-30deg);
  font-size: 8px;
}

.d12 {
  background-image: url(../../src/media/dice/d12.png);
  padding-top: .7rem;
}

#d20center{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(17px) translateY(30px);
}

#d20top{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(17px) translateY(-30px) rotateX(30deg);
}
#d20topLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(-8px) translateY(-68px) rotateX(30deg) rotateY(55deg) rotateZ(10deg) skewY(10deg) skewX(-15deg);
}
#d20topRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(42px) translateY(-104px) rotateX(30deg) rotateY(-50deg) rotateZ(-15deg) skewY(-10deg) skewX(15deg);
}

#d20outerLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(-12px) translateY(-120px) rotateX(-20deg) rotateY(-65deg) rotateZ(-10deg) skewY(20deg) skewX(-10deg);
}

#d20outerRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(45px) translateY(-155px) rotateX(20deg) rotateY(-65deg) rotateZ(-20deg) skewY(10deg) skewX(-10deg);
}

#d20innerLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(0px) translateY(-175px) rotateX(-5deg) rotateY(-45deg) rotateZ(-11deg) skewY(20deg) skewX(5deg);
}

#d20innerRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(33px) translateY(-211px) rotateX(25deg) rotateY(-45deg) rotateZ(-10deg) skewY(15deg) skewX(-20deg);
}

#d20botLeft{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(19px) translateY(-232.5px) rotateX(-40deg) rotateY(-55deg) rotateZ(-25deg) skewY(-25deg) skewX(55deg);
}

#d20botRight{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: translateX(17px) translateY(-267px) rotateX(25deg) rotateY(-62deg) rotateZ(65deg) skewY(-20deg) skewX(-25deg);
}

.d20 {
  background-image: url(../../src/media/dice/d20.png);
  padding-top: .6rem;
}

.cube-container {
  perspective: 1000px; /* Adjust the perspective value to control the depth perception */
  width: 400px; /* Adjust the width of the container */
  height: 400px; /* Adjust the height of the container */
  margin: 100px auto; /* Adjust margin for positioning */
  /* position: absolute; */
  /* left: 10rem; */
}

.cube {
  /* border: solid red; */
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto; /* Center the cube horizontally */
  transform: rotateX(-35deg) rotateY(45deg); /* Adjust rotation to look at a corner */
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
}

.left {
  transform: translateZ(0px) translateX(-100px) rotateY(-90deg);
}

.right {
  transform: translateZ(100px) rotateY(0deg);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}