body {
  background-color: cadetblue;
}
.button-container {
  border: solid blue;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 90%;
  height: 40%;
  top: 10%;
  left: 5%;
  transform-style: preserve-3d;
}
.die-btn {
  margin: 1.1%;
  border: none;
  /* padding: 0; */
  background: transparent;
  /* background-image: url(../../src/media/d20.png); */
  background-size: contain; /* Adjusts the image size to cover the entire button */
  background-position: center; /* Centers the image within the button */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: black;
  /* font-family:; */
  font-size: 2.4rem;
  font-weight: bolder;
  cursor: pointer;
  /* width: 20%;
  height: 80%; */
  width: 80px;
  height: 80px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  float: left;
  /* box-sizing: border-box; */
  background-blend-mode: overlay;
}
.d4 {
  background-image: url(../../src/media/d4.png), url(../../src/media/background_d4.png);
  
}
.d6 {
  background-image: url(../../src/media/d6.png), url(../../src/media/background_d6.png);
  /* border: solid red; */
  /* position: relative; */
}
#d6left {
  /* border: solid green; */
  position: relative;
  float: left;
  padding-top: 10%;
  /* top: 12%; */
  /* left: 3%; */
  width: 45px;
  height: 45px;
  transform: translateZ(11px) translateY(-2px) translateX(-27px) rotateY(-90deg);
  box-sizing: border-box;
}
#d6right {
  /* border: solid orange; */
  position: relative;
  float: left;
  padding-top: 10%;
  /* top: 12%; */
  /* left: 6%; */
  width: 45px;
  height: 45px;
  transform: translateZ(32px) translateY(-43px) translateX(0px) rotateY(0deg);
  box-sizing: border-box;
}
#d6top {
  /* border: solid yellow; */
  position: relative;
  float: left;
  /* top: -50%; */
  /* left: 25%; */
  width: 45px;
  height: 45px;
  transform: rotateX(90deg) translateX(-0px) translateY(8px) translateZ(111px);
  box-sizing: border-box;
}
.cube div {
  padding-top: 1rem;
}
.d8 {
  background-image: url(../../src/media/d8.png), url(../../src/media/background_d8.png);
}
.d10 {
  background-image: url(../../src/media/d10.png), url(../../src/media/background_d10.png);
  /* padding-top: .6rem; */
}
.d12 {
  background-image: url(../../src/media/d12.png), url(../../src/media/background_d12.png);
  /* padding-top: .7rem; */
}
.d20 {
  background-image: url(../../src/media/d20.png), url(../../src/media/background_d20.png);
  /* padding-top: .6rem; */
}

.cube-container {
  perspective: 1000px; /* Adjust the perspective value to control the depth perception */
  width: 400px; /* Adjust the width of the container */
  height: 400px; /* Adjust the height of the container */
  margin: 100px auto; /* Adjust margin for positioning */
  /* position: absolute; */
  /* left: 10rem; */
}

.cube {
  /* border: solid red; */
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto; /* Center the cube horizontally */
  transform: rotateX(-35deg) rotateY(45deg); /* Adjust rotation to look at a corner */
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
}

.left {
  transform: translateZ(0px) translateX(-100px) rotateY(-90deg);
}

.right {
  transform: translateZ(100px) rotateY(0deg);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.selected {
  /* box-shadow: #25d34a 0 0 10px; */
  color: blue;
  font-size: 2.8rem;
  text-shadow: 5px 5px 20px whitesmoke, 
               -5px 5px 20px whitesmoke, 
               5px -5px 20px whitesmoke, 
               -5px -5px 20px whitesmoke;
  top: -0.5rem;
}
.die-btn:disabled {
  color: rgb(77, 77, 77);
  /* background-color: rgba(255,255,255,0.5); */
  /* background-blend-mode: lighten; */
  /* background-blend-mode: overlay; */
}
.die-btn:disabled:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* background-image: url(../../src/media/background_d20.png); */
  background-size: contain;
  opacity: .5;
}
.d4:disabled:before {
  background-image: url(../../src/media/background_d4.png);
}
.d6:disabled:before {
  background-image: url(../../src/media/background_d6.png);
}
.d8:disabled:before {
  background-image: url(../../src/media/background_d8.png);
}
.d10:disabled:before {
  background-image: url(../../src/media/background_d10.png);
}
.d12:disabled:before {
  background-image: url(../../src/media/background_d12.png);
}
.d20:disabled:before {
  background-image: url(../../src/media/background_d20.png);
}

.d4:disabled {
  background-image: url(../../src/media/d4.png);
}
.d6:disabled {
  background-image: url(../../src/media/d6.png);
}
.d8:disabled {
  background-image: url(../../src/media/d8.png);
}
.d10:disabled {
  background-image: url(../../src/media/d10.png);
}
.d12:disabled {
  background-image: url(../../src/media/d12.png);
}
.d20:disabled {
  background-image: url(../../src/media/d20.png);
}

.success:disabled {
  /* color: white; */
  color: green;
  text-shadow: 2px 2px 0px black;
}
.failure:disabled {
  color: red;
  text-shadow: 2px 2px 0px black;
}