body {
  background-image: url(../media/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

#gameOver {
  color: white;
  text-shadow: 2px 2px 2px #111;
  text-align: center;
  padding: 1.4rem 0;
  font-size: 3rem;
  font-weight: 900;
}

#statsTable {
  position: absolute;
  width: 38%;
  margin-top: 2%;
  left: 10%;
  border: 3px solid #222;
  background-color: #222;
}

#infoTable {
  position: absolute;
  width: 38%;
  margin-top: 2%;
  right: 10%;
  border: 3px solid #222;
  background-color: #222;
}

#statsTable th {
  text-align: center;
}

#statsTable td {
  height: 3rem;
  padding: 0 1rem 0 1rem;
}

#statsTable span {
  float: right;
}

#infoTable td {
  height: 6.1rem;
  padding: 0 1rem 0 1rem;
}

#infoTable img {
  height: 3rem;
}

th {
  background-color: #b1b1b1; /* Grey background for header */
}
tr:nth-child(even) {
  background-color: #d3d3d3; /* White background for even rows */
}
tr:nth-child(odd) {
  background-color: #fff; /* Grey background for odd rows */
}

#buttonDiv {
  /* border: 3px solid blue; */
  position: absolute;
  top: 65%;
  width: 90%;
  margin-top: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#buttonDiv button {
  /* border: 2px solid green; */
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #555;
  color: #ddd;
  box-shadow: 2px 2px 2px #222;
}

#buttonDiv button:hover {
  background-color: #666;
}

#buttonDiv button:disabled {
  background-color: #777;
  cursor: default;
}