@font-face {
  font-family: 'SevenSegment';
  src: url('../fonts/sevenSegment.ttf') format('truetype');
}

#devTools {
  border: solid red;
  width: 20%;
  background-color: cadetblue;
  position: absolute;
  float: left;
  font-size: 2rem;
  /* display: block; */
  cursor: pointer;
  z-index: 1;
}

#coffeeWrapper {
  /* border: solid blue; */
  position: absolute;
  height: 70%;
  width: 23%;
  bottom: 5%;
  left: 15%;
}
.coffeeFront {
  /* border: solid red; */
  background-color: rgb(103, 84, 55);
  width: 100%;
  height: 100%;
}
.coffeeDispenser {
  border: .5rem solid rgb(32, 32, 32);
  /* background-color: black; */
  /* position: relative; */
  background-image: url(../media/coffee.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 4%;
  left: 10%;
  width: 53%;
  height: 70%;
  cursor: pointer;
}
.coffeeBillSlot {
  /* border: solid violet; */
  background-color: rgb(20, 20, 20);
  /* position: absolute; */
  float: right;
  top: -25%;
  right: -25%;
  width: 25%;
  height: 3.5%;
}
.coffeeCoinSlot {
  /* border: solid pink; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -19%;
  right: -50%;
  width: 5%;
  height: 7%;
}
.coffeeKeypadFrame {
  /* border: solid blue; */
  border: .4rem solid black;
  background-color: rgb(103, 103, 103);
  float: right;
  /* position: absolute; */
  top: -60%;
  right: 3%;
  width: 30%;
  height: 30%;
}

#vendWrapper {
  /* border: solid red; */
  position: absolute;
  height: 80%;
  width: 30%;
  bottom: 5%;
  left: 40%;
}
.vendingMachine {
  box-sizing: border-box;
  border: .5rem solid black;
  /* height: 2rem; */
  /* width: 2rem; */
  position: relative;
  /* flex: 1; */
}



.vendingMachine td{
  border-bottom: 1px solid rgb(49, 47, 47);
}


.front {
  /* border: solid red; */
  background-color: rgb(40, 40, 40);
  /* top: 10%; */
  width: 100%;
  height: 100%;
}
.storage {
  /* border: solid orange; */
  border: .5rem solid rgb(69, 69, 69);
  background-color: black;
  top: 4%;
  left: 3%;
  width: 65%;
  height: 70%;
}
.rows {
  /* border: solid yellow; */
  /* background-image: url(boon_pokeball.png); */
  width: 100%;
  height: 100%;
  /* overflow-y: hidden; */
}
.window {
  /* border: solid green; */
  /* border: .5rem solid rgb(82, 82, 82); */
  background-color: rgb(99, 147, 147);
  opacity: .2;
  float: left;
  position: absolute;
  top: 4%;
  left: 3%;
  width: 65%;
  height: 70%;
  pointer-events: none;
}
.keypadFrame {
  /* border: solid blue; */
  border: .4rem solid black;
  background-color: rgb(103, 103, 103);
  float: right;
  position: absolute;
  top: 10%;
  right: 2.5%;
  width: 27%;
  height: 35%;
}
.lcdScreen {
  /* border: solid purple; */
  border: .4rem solid black;
  background-color: rgb(85, 5, 5);
  width: 86%;
  height: 30%;
  top: 6%;
  left: 7%;
}
.numPad {
  /* border: solid teal; */
  border: .4rem solid black;
  background-color: rgb(189, 189, 189);
  width: 88%;
  height: 50%;
  top: 13%;
  left: 6%;
  cursor: pointer;
  user-select: none;
}
.billSlot {
  /* border: solid violet; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -20%;
  right: 5%;
  width: 20%;
  height: 3.5%;
}
.coinSlot {
  /* border: solid pink; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -14%;
  right: -15%;
  width: 4%;
  height: 7%;
}
.changeReturn {
  /* border: solid greenyellow; */
  border: 4px solid rgb(107, 107, 107);
  /* background-color: rgb(42, 42, 42); */
  position: absolute;
  float: right;
  /* top: 6%; */
  /* right: -20%; */
  right: 2%;
  bottom: 10%;
  width: 18%;
  height: 10%;
}
.changeReturn div{
  /* border: solid greenyellow; */
  background-color: rgb(20, 20, 20);
  /* float: right; */
  /* top: 6%; */
  /* right: -20%; */
  width: 100%;
  height: 100%;
}
.itemRetrieval {
  /* border: solid grey; */
  background-color: rgb(20, 20, 20);
  position: absolute;
  float: right;
  /* top: 6%; */
  bottom: 5%;
  left: 3%;
  width: 65%;
  height: 18%;
}

table {
  height: 100%;
  width: 100%;
}

tr {
  height: 25%;
  /* border: 1px solid green; */
}

td {
  width: 30%;
  /* border: 1px solid orange; */
}

td img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 11vh;
  height: auto;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  /* top: 10%; */
  /* left: 10%; */
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1005;
}

#diceMachineWrapper {
  /* border: solid green; */
  position: absolute;
  height: 65%;
  width: 30%;
  bottom: 5%;
  right: 0;
}
#diceMachine {
  height: 100%;
  width: 100%;
  /* top: 5.5%; */
  /* left: 25%; */
  /* flex: 1; */
  background-color: transparent;
  background-image: url(../media/gumballMachine.png);
  background-size: contain; 
  /* background-size: 45% 90; */
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

#diceBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1001;
}
#diceBox:before {
  content: '';
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust darkness here */
  z-index: -1;
  /* display: block; */
}
#diceContainer {
  border: 1.5rem solid black;
  border-radius: 5%;
  position: absolute;
  float: left;
  height: 70%;
  width: 40%;
  top: 10%;
  left: 25%;
  /* background-image: url(../media/texture2.png); */
  background-color: cadetblue;
  background-size: cover;
  box-sizing: border-box;
  /* display: block; */
  z-index: 1003;
}

#diceOptions{
  position: relative;
  top: 20%;
  text-align: center;
}
#backBtn {
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 1rem;
  right: 1rem;
}

#returnToGameBtn {
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 50%;
  left: 1rem;
  padding-left: 50px; 
  background-color: transparent;
  color: white;
  border: none; 
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}

#returnToGameBtn::before {
  content: ''; 
  position: absolute; 
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent white transparent transparent;
}
#returnToGameBtn span {
  display: none;
}

#returnToGameBtn:hover span {
  display: inline;
}

.numPad table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  /* border: 1px solid green; */
}

.numPad {
  border: 3px solid black;
  overflow: hidden;
}

.numPad td {
  border: 2px solid black;
  background-color: rgb(14, 95, 23);
  color: rgb(15, 231, 37);
  text-shadow: 0px 0px 5px white;
  /* width: 30%; */
  /* height: 23%; */
  font-size: .9vw;
  font-weight: 800;
  /* vertical-align: middle; */
  text-align: center; 
  /* text-align: justify; */
}

#buyItem {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: .7rem;
  cursor: pointer;
}

#lcdScreen {
  font-family: 'SevenSegment';
  font-size: 1.1vw;
  /* font-weight: bold; */
  text-align: right;
  color: red;
  text-shadow: 0px 0px 5px black;
  padding: 0 3px 0 0;
}

#diceOptions button{
  margin-right: 2rem;
  width: 90px;
  height: 70px;
}
