@font-face {
  font-family: 'SevenSegment';
  src: url('../fonts/sevenSegment.ttf') format('truetype');
}



#coffeeWrapper {
  /* border: solid blue; */
  position: absolute;
  height: 70%;
  width: 23%;
  bottom: 5%;
  left: 15%;
}
.coffeeFront {
  /* border: solid red; */
  background-color: rgb(103, 84, 55);
  width: 100%;
  height: 100%;
}
.coffeeDispenser {
  border: .5rem solid rgb(32, 32, 32);
  /* background-color: black; */
  /* position: relative; */
  background-image: url(../media/coffee.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 4%;
  left: 10%;
  width: 53%;
  height: 70%;
  cursor: pointer;
}
.coffeeBillSlot {
  /* border: solid violet; */
  background-color: rgb(20, 20, 20);
  /* position: absolute; */
  float: right;
  top: -25%;
  right: -25%;
  width: 25%;
  height: 3.5%;
}
.coffeeCoinSlot {
  /* border: solid pink; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -19%;
  right: -50%;
  width: 5%;
  height: 7%;
}
.coffeeKeypadFrame {
  /* border: solid blue; */
  border: .4rem solid black;
  background-color: rgb(103, 103, 103);
  float: right;
  /* position: absolute; */
  top: -60%;
  right: 3%;
  width: 30%;
  height: 30%;
}

#vendWrapper {
  /* border: solid red; */
  position: absolute;
  height: 80%;
  width: 30%;
  bottom: 5%;
  left: 40%;
}
.vendingMachine {
  box-sizing: border-box;
  border: .5rem solid black;
  /* height: 2rem; */
  /* width: 2rem; */
  position: relative;
  /* flex: 1; */
}
#overlay {
  position: absolute;
  float: left;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}
/* #overlay:hover {
  position: absolute;
  float: left;
  height: 100%;
  width: 100%;
  z-index: 1;
} */
.hidden {
  display: none;
}


.vendingMachine td{
  border-bottom: 1px solid rgb(49, 47, 47);
}


.front {
  /* border: solid red; */
  background-color: rgb(40, 40, 40);
  /* top: 10%; */
  width: 100%;
  height: 100%;
}
.storage {
  /* border: solid orange; */
  border: .5rem solid rgb(69, 69, 69);
  background-color: black;
  top: 4%;
  left: 3%;
  width: 65%;
  height: 70%;
}
.rows {
  /* border: solid yellow; */
  /* background-image: url(boon_pokeball.png); */
  width: 100%;
  height: 100%;
  /* overflow-y: hidden; */
}
.window {
  /* border: solid green; */
  /* border: .5rem solid rgb(82, 82, 82); */
  background-color: rgb(99, 147, 147);
  opacity: .2;
  float: left;
  position: absolute;
  top: 4%;
  left: 3%;
  width: 65%;
  height: 70%;
  pointer-events: none;
}
.keypadFrame {
  /* border: solid blue; */
  border: .4rem solid black;
  background-color: rgb(103, 103, 103);
  float: right;
  position: absolute;
  top: 10%;
  right: 2.5%;
  width: 27%;
  height: 35%;
}
.lcdScreen {
  /* border: solid purple; */
  border: .4rem solid black;
  background-color: rgb(85, 5, 5);
  width: 86%;
  height: 30%;
  top: 6%;
  left: 7%;
  cursor: pointer;
}
.numPad {
  /* border: solid teal; */
  border: .4rem solid black;
  background-color: rgb(189, 189, 189);
  width: 88%;
  height: 50%;
  top: 13%;
  left: 6%;
  cursor: pointer;
  user-select: none;
}
.billSlot {
  /* border: solid violet; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -20%;
  right: 5%;
  width: 20%;
  height: 3.5%;
}
.coinSlot {
  /* border: solid pink; */
  background-color: rgb(20, 20, 20);
  float: right;
  top: -14%;
  right: -15%;
  width: 4%;
  height: 7%;
}
.changeReturn {
  /* border: solid greenyellow; */
  border: 4px solid rgb(107, 107, 107);
  /* background-color: rgb(42, 42, 42); */
  position: absolute;
  float: right;
  /* top: 6%; */
  /* right: -20%; */
  right: 2%;
  bottom: 10%;
  width: 18%;
  height: 10%;
}
.changeReturn div{
  /* border: solid greenyellow; */
  background-color: rgb(20, 20, 20);
  /* float: right; */
  /* top: 6%; */
  /* right: -20%; */
  width: 100%;
  height: 100%;
}
.itemRetrieval {
  /* border: solid grey; */
  background-color: rgb(20, 20, 20);
  position: absolute;
  float: right;
  /* top: 6%; */
  bottom: 5%;
  left: 3%;
  width: 65%;
  height: 18%;
}

table {
  height: 100%;
  width: 100%;
}

tr {
  height: 25%;
  /* border: 1px solid green; */
}

td {
  width: 30%;
  /* border: 1px solid orange; */
}

td img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 11vh;
  height: auto;
  cursor: pointer;
}

.tooltip {
  border: solid red;
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 16rem;
  /* height: 50%; */
  font-size: 1.2rem;
  background-color: black;
  color: rgb(207, 207, 207);
  padding: .6rem;
  border-radius: 5px;
  display: none;
  z-index: 1005;
}

#diceMachineWrapper {
  /* border: solid green; */
  position: absolute;
  height: 65%;
  width: 30%;
  bottom: 5%;
  right: 0;
}
#diceMachine {
  height: 100%;
  width: 100%;
  /* top: 5.5%; */
  /* left: 25%; */
  /* flex: 1; */
  background-color: transparent;
  background-image: url(../media/gumballMachine.png);
  background-size: contain; 
  /* background-size: 45% 90; */
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

.buyDice{
  position: relative;
  margin: 30% 40%;
  width: 8rem;
  height: 4rem;
  z-index: 1;
}

#diceBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1007;
}
#diceBox:before {
  content: '';
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust darkness here */
  z-index: -1;
  /* display: block; */
}
.diceContainer {
  border: 1.5rem solid black;
  border-radius: 5%;
  position: relative;
  float: left;
  height: 70%;
  width: 40%;
  top: 10%;
  left: 30%;
  /* background-image: url(../media/texture2.png); */
  /* background-color: rgb(35, 52, 108); */
  background-image: url(../media/background2.png);
  background-size: cover;
  box-sizing: border-box;
  /* display: block; */
  /* z-index: 1007; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.die-option{
  /* border: solid red; */
  background-size: cover;
}

#diceOptions{
  position: absolute;
  height: 6.3rem;
  width: 18.4rem;
  top: 50%;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
}

#message {
  position: absolute;
  width: 80%;
  text-align: center;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1.5rem;
}

#message h2 {
  /* border: solid blue; */
  position: relative;
  text-align: center;
  color: cadetblue;
  font-size: 2rem;
  text-shadow: 2px 2px 0px black;
}

#diceOptions button{
  /* border: solid red; */
  /* margin-right: 2rem; */
  position: relative;
  /* float: left; */
  /* top: 50%; */
  /* left: 25%; */
  /* bottom: 50%; */
  width: 90px;
  height: 90px;
}

#diceBox .backBtn,
#diceBox .viewBtn {
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #dedede;
}

.backBtn {
  position: fixed;
  height: 10%;
  width: 20%;
  bottom: 3rem;
  right: 3rem;
  z-index: 2;
}

.viewBtn {
  position: fixed;
  height: 10%;
  width: 20%;
  bottom: 3rem;
  left: 3rem;
  z-index: 2;
}

#returnToGameBtn {
  position: absolute;
  height: 10%;
  width: 12%;
  bottom: 3%;
  left: 3%;
  padding-left: 50px; 
  background-color: transparent;
  color: white;
  border: none; 
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}

#returnToGameBtn::before {
  content: ''; 
  position: absolute; 
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent white transparent transparent;
}
#returnToGameBtn span {
  display: none;
}

#returnToGameBtn:hover span {
  display: inline;
}

.numPad table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  /* border: 1px solid green; */
}

.numPad {
  border: 3px solid black;
  overflow: hidden;
}

.numPad td {
  border: 2px solid black;
  background-color: rgb(14, 95, 23);
  color: rgb(15, 231, 37);
  text-shadow: 0px 0px 5px white;
  /* width: 30%; */
  /* height: 23%; */
  font-size: .9vw;
  font-weight: 800;
  /* vertical-align: middle; */
  text-align: center; 
  /* text-align: justify; */
}

#buyItem {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: .7rem;
  cursor: pointer;
}

.lcdScreen {
  font-family: 'SevenSegment';
  font-size: 1.1vw;
  /* font-weight: bold; */
  text-align: right;
  color: red;
  text-shadow: 0px 0px 5px black;
  padding: 0 3px 0 0;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px 0 10px;
}

.animatedText {
  display: inline-block;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(105%);
  }
  100% {
    transform:translateX(-105%); /* Scroll to the left infinitely */
  }
}

.selectedSlot {
  background-color: rgba(200, 200, 200, .1);
  border-image-source: url(../media/border_highlight2.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	/* border-image-outset: 10px; */
}

#playerData {
  /* position: relative; */
  overflow: auto;
}

#playerStamina {
  border: 2px solid black;
  position: relative;
  width: 75%;
  background-color: rgba(190, 50, 50, 1);
  box-sizing: border-box;
  z-index: -2;
  margin-bottom: 1rem;
  color: #ccc;
  text-shadow: 2px 2px 2px #222;
}

#playerStaminaBar {
  /* border: 2px solid black; */
  border-right: 2px solid black;
  background-color: rgba(61, 119, 190, .9);
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#stamina {
  text-align: center;
  width: 100%;
}

#currency {
  /* border: 1px dotted green; */
  margin-bottom: 1rem;
}

#boonBox {
  margin-top: .5rem;
  max-height: 75%;
  border: 3px solid #333;
  box-shadow: 2px 2px 2px rgb(20, 20, 20);
  background-color: rgba(20, 20, 20, .4);
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
  position: relative;
  scroll-behavior: auto;
}

#leftArrow, #rightArrow {
  position: absolute;
  top: 25%;
  /* transform: translateY(50%); */
  color: #aaa;
  /* border: 1px solid blue; */
  z-index: 99;
}

#leftArrow {
  left: 0;
  scroll-snap-align: start;
  text-shadow: 2px 2px 2px black;
}

#rightArrow {
  right: 0;
  /* right: calc(var(--scroll-offset)); */
  text-shadow: -2px 2px 2px black;
}


#boonBox .boon {
  max-width: 5rem;
  /* border: 1px solid black; */
  height: auto;
}

#boonBox .active {
  background-color: rgba(35, 35, 35, .2);
}

#devTools {
  border: 4px solid #222;
  background-size: cover;
  background-image: linear-gradient(rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5)), url(../media/background2.png);
  background-blend-mode: overlay; /* Blend mode to mix background color and image */
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  overflow: auto;
  max-width: 30%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 2px 2px 5px #333;
  transition: transform 0.5s ease;
}
#devTools.collapsed {
  transform: translateY(-100%);
}

#slidePlayerInfo {
  position: absolute;
  top: 47%;
  z-index: 99;
  transition: transform 0.5s ease;
  background-color: salmon;
  padding: 1rem;
  left: 1rem;
  border: 2px solid #333;
  box-shadow: 2px 2px 2px #222;
}

#slidePlayerInfo.collapsed {
  transform: translateY(-680%);
}

#slidePlayerInfo:hover {
  background-color: rgba(250, 180, 180, 1)
}

.playerDataButton {
  border: 2px solid #333;
  max-width: 35%;
  min-width: 20%;
  padding: 5px 10px 5px 10px;
  margin-bottom: 1rem;
  background-color: #555;
  color: #ddd;
  text-shadow: 1px 1px 1px #111;
  box-shadow: 2px 2px 4px #111;
}

#playerDice {
 display: none; 
}

#playerConsumables {
  display: none;
  overflow-y: scroll;
}

.consumable {
  position: relative;
  float: left;
  margin-left: 3.4rem;
  margin-top: 1.4rem;
  background-image: url(../media/consumableCoin.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  font-weight: bolder;
  /* color: rgb(196, 196, 31); */
  color: black;
  text-shadow: 2px 2px 3px whitesmoke;
}

#playerDice .die-btn,
#playerConsumables .die-btn {
  position: relative;
  float: left;
  margin-left: 3.4rem;
  margin-top: 1.4rem;
  width: 7rem;
  /* (playerDice.clientWidth - (2 * newDice.clientWidth)) + "px"; */
  height: 7rem;
  /* font-size: 0%; */
  text-align: center;
  align-items: center;
}

.die-btn ul{
  /* border: solid green; */
  position: absolute;
  width: 325%;
  /*height: 7rem; */
  top: 10%;
  left: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  
}

.die-btn li { 
  /* border: solid red; */
  position: relative;
  /* float: left; */
  /* margin: .1rem; */
  font-size: 2rem;
  /* display: none; */
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* left: 100%; */
  /* top: 2rem; */
  width: 2.5rem;
  height: 2.5rem;
  background-color: #666;
  border: 3px solid #333;
}