#titleScreen {
  border: 10px solid black;
  position: absolute;
  width: 65%;
  left: 2.5rem;
  top: 1.5rem;
  height: 100%;
  color:cadetblue;
  font-size: 3.5rem;
  text-shadow: black 2px 1px 1px;
  background-image: url(../media/otter-space.jpg);
  background-size: cover;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}

#leaderboard{
  color:midnightblue;
  font-size: 30px;
}
#leaderboard:visited{
  color:midnightblue;
}
#leaderboard:hover{
  border-bottom: 1px solid midnightblue;
}

#history{
  position: relative;
  left: 2rem;
  color:midnightblue;
  font-size: 30px;
}
#history:hover{
  border-bottom: 1px solid midnightblue;
}

#history:visited{
  color:midnightblue;
}

#credits{
  position: relative;
  top: 2rem;
  color:midnightblue;
  font-size: 30px;
}

#credits:visited{
  color:midnightblue;
}

#credits:hover{
  border-bottom: 1px solid midnightblue;
}

#logout{
  position: absolute;
  bottom: 0;
  color:navy;
  font-size: 20px;
}

#splashText {
  position: relative;
  width: 60%;
  z-index: 1;
}

#splashImage {
  position: absolute;
  background-image: url(../media/splashImage2.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 92%;
  height: 58%;
  left: 0;
  bottom: -18.4%;
}
#glados {
  /* border: solid red; */
  position: absolute;
  background-image: url(../media/Henchmen/boss_glados.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 40%;
  height: 50%;
  right: -8%;
  top: 0;
}

#menuDiv {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position:absolute;
  width: 30%;
  top: 1.5rem;
  right: 0;
  height: 100%;
  background-color: cadetblue;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}

#menuDiv form {
  display: flex;
  flex-direction: column;
}

#nav {
  position: absolute;
  width: 65%;
  left: 2.5rem;
  bottom: 3rem;
  height: 23%;
  background-color: cadetblue;
}

.dieSelectWrapper {
  /* border: solid red; */
  width: 10rem;
  /* margin: 1rem; */
}
.number-input-container {
  /* border: solid red; */
  position: relative;
  display: flex;
  align-items: center;
}
.number-input {
  width: 2rem;
  padding: 3px;
  padding-left: 1rem;
  font-size: 2rem;
  background-color: white;
  color: black;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.arrow {
  font-size: 2rem;
  color: antiquewhite;
  text-shadow: 0 0 5px black, 0 0 5px black;
  cursor: pointer;
}

#diceSelect label {
  font-size: 1.5rem;
  font-weight: 600;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}

#diceBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* should be 'none' */
  z-index: 1001;
}
#diceBox:before {
  content: '';
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust darkness here */
  z-index: -1;
  /* display: block; */
}
#diceContainer {
  border: 1.5rem solid black;
  border-radius: 5%;
  position: absolute;
  float: left;
  padding: 3rem;
  height: 70%;
  width: 60%;
  top: 10%;
  left: 20%;
  background-image: url(../media/background2.png);
  /* background-color: cadetblue; */
  color: cadetblue;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  background-size: cover;
  box-sizing: border-box;
  /* display: block; */
  z-index: 1003;
  /* overflow: scroll; */
}

#buyDice {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px 0px black;
}

#diceSelect {
  /* border: solid red; */
  position: absolute;
  float: left;
  padding-top: 2rem;
  width: 35rem;
  right: -1.5rem;
  top: 0;
}

.dieSelectWrapperWrapper {
  /* border: solid green; */
  display: flex;
  flex-wrap: wrap;
  /* width: 45rem; */
  width: 90%;
  justify-content: space-between;

}

.costSpan,
.maxSpan {
  font-size: 1.2rem;
}

#startBtn {
  position: absolute;
  bottom: 1rem;
  right: 21rem;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px 0px black;
}
#backBtn {
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 0px black;
}
.displayBoon {
  /* border: solid blue; */
  /* border: 1px solid #333; */
  position: absolute;
  float: left;
  top: 9rem;
  left: 10.5rem;
  font-size: 1.1rem;
  /* box-shadow: 1px 1px 1px 1px #222; */
  height: 7.5rem;
  width: 7.5rem;
  /* background-color: #454; */
  padding: 3px;
  text-align: center;
}

.displayBoon img{
  /* border: 1px solid black; */
  position: relative;
  max-width: 80%;
  max-height: 80%;
  /* display: none; */
}

#startBoonContainer {
  /* border: solid red; */
  width: 15%;
}

.tooltip {
  border: solid red;
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 16rem;
  /* height: 50%; */
  font-size: 1.2rem;
  background-color: black;
  color: rgb(207, 207, 207);
  padding: .6rem;
  border-radius: 5px;
  display: none;
  z-index: 1005;
}