/* global style resets */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
}
#gameDiv div {
  background-image: url(../media/texture2.png);
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper {
	width: 100vw;
  height: 100vh;
  background-image: url(../media/background2.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: stretch;
}

.container {
  background-image: url(../media/background2.png);
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

#content{
  display: flex;
  width: 80%;
}

.leftSide,
#signIn {
  flex: 1;
  max-width: 50%;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  font-size: 1.6rem;
  text-shadow: black 1px 1px 5px;

}

.leftSide {
  background-image: url(../media/potionDice_transparent.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#signIn h2 {
  margin-bottom: 1.5rem;
}

#signIn input,
#signIn button {
  display: block;
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
}
#signIn form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signIn button {
  cursor: pointer;
  align-self: center;
}

/* Title/Start screen */
#titleScreen {
  border: solid green;
  position: absolute;
  width: 65%;
  left: 2.5rem;
  top: 1.5rem;
  height: 68%;
  color:cadetblue;
  font-size: 3.5rem;
  text-shadow: black 2px 1px 1px;
  background-image: url(../media/otter-space.jpg);
  background-size: cover;
  box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
#menuDiv{
  border: solid red;
  position:absolute;
  width: 30%;
  top: 1.5rem;
  right: 1.5rem;
  height: 95%;
  background-color: cadetblue;
}
#scores{
  border: solid yellow;
  position: absolute;
  left: 2.5rem;
  bottom: 1rem;
  width: 65%;
  height: 25%;
}
#testPic {
	width: 30rem;
	height: 30rem;
	border: 5px solid green;
	background-color: yellow;
	font-size: 25rem;
  text-align: center;
	/* background-image: url(../media/testAsset.png); */
}

/* Leaderboard/History */

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100vw;
}
.tab a{
  position: absolute;
  right: 0;
  padding: 10px 30px 7px 30px;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
  border-bottom: 2px solid transparent;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  width: 48.5%;
}

#history{
  position: relative;
  left: 50%;
  height: 100vh;
}

#leaderboard{
  position: relative;
  height: 100vh;
}




/* Game Screen */
#henchmen{
  border: solid red;
  height: 40%;
  width: 48.5%;
  position: relative;
  left: 1%;
  top: .5%;
	background-image: none;
	background-color:saddlebrown;
}
#henchmen img{
  border: solid green;
  position: absolute;
  height: 70%;
  width: 30%;
}
#henchmen span{
  position: absolute;
  bottom: 15%;
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}
#henchmen input{
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
#henchmen p{
	padding: 2rem;
  border: solid blue;
  position: absolute;
  right: 0;
  top: 0;
  height: 70%;
  width: 67%;
	background-image: url(../media/texture2.png);
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
#gameLogs{
  position: absolute;
  /* border: solid orange; */
  left: 1%;
  bottom: 1%;
  width: 20%;
  height: 56%;
	border-style: solid;
	border-image-source: url(../media/border4.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}
#average {
	float: right;
}
#logText{
  overflow-y: auto; /*Doesn't work. Moved to gameLogs*/
}
#diceArea{
  /* border: solid yellow; */
  position: absolute;
  bottom: 1%;
  right: 50.2%;
  height: 56%;
  width: 27%;
	/* background-position-x: 10px;
	background-position-y: 10px; 
	background-size: 90%;*/
	border-style: solid;
	border-image-source: url(../media/border3.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	border-image-outset: 10px; /* Adjust the outset to move the border inwards */
	user-select: none;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}
#gameStats{
  border: solid darkorchid;
  position: absolute;
  top: .5%;
  right: 1%;
  width: 48%;
  height: 25%;
  /* text-align: center; */
  font-size: 24px;
	display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
	flex-direction: column; /* Arrange items in a column */
}
#gameStats > div {
	background-image: none;
}
#waveInfo{
  border: solid hotpink;
  position: absolute;
  right: 25.5%;
  top: 27%;
  width: 23.5%;
  height: 35%;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
#collectibleEffects{
  border: solid #ab19;
  position: absolute;
  top: 27%;
  right: 1%;
  width: 23.5%;
  height: 35%;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
.boon {
  /* border: solid #ab19; */
  max-width: 28%;
  max-height: 28%;
  position: relative;
}
#specialDice{
  border: solid turquoise;
  position: absolute;
  right: 25.5%;
  bottom: 1%;
  height: 35%;
  width: 23.5%;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
#rollDiceBtn{
  position: absolute;
  right: 2.5%;
  bottom: 13%;
  height: 13%;
  width: 20%;
  color: blue;
  background-color: #f8fa75;
  font-size: 40px;
  transition-duration: .2s;
}
#rollDiceBtn:hover{
  background-color: yellow;
  box-shadow: -5px 5px 20px blue;
}
.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard syntax */
}

input[type='number'] {
  width: 28px;
}