/* global style resets */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
}

::-webkit-scrollbar { /* ////////////INVISIBLE SCROLLBARS//////////// */
  display: none;
}

.navBar{
  width: 100%;
  height: 2rem;
  background-color: aquamarine;
}
.navBar a {
  border-right: 1px solid black;
  padding: 0px 20px;
}

/* #gameDiv div {
  background-image: url(../media/texture2.png);
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
} */
.wrapper {
	width: 100vw;
  height: 100vh;
  background-image: url(../media/background2.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: stretch;
}

.container {
  background-image: url(../media/background2.png);
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

#content{
  display: flex;
  width: 80%;
}

.leftSide,
#signIn {
  flex: 1;
  max-width: 50%;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  font-size: 1.6rem;
  text-shadow: black 1px 1px 5px;

}

.leftSide {
  background-image: url(../media/potionDice_transparent.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#signIn h2 {
  margin-bottom: 1.5rem;
}

#signIn input,
#signIn button {
  display: block;
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
}
#signIn form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signIn button {
  cursor: pointer;
  align-self: center;
}

/* Title/Start screen */
#titleScreen {
  border: solid green;
  position: absolute;
  width: 65%;
  left: 2.5rem;
  top: 1.5rem;
  height: 68%;
  color:cadetblue;
  font-size: 3.5rem;
  text-shadow: black 2px 1px 1px;
  background-image: url(../media/otter-space.jpg);
  background-size: cover;
  box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
}
#menuDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid red;
  position:absolute;
  width: 30%;
  top: 1.5rem;
  right: 1.5rem;
  height: 95%;
  background-color: cadetblue;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}

#menuDiv form{
  display: flex;
  flex-direction: column;
}

#nav {
  border: solid yellow;
  position: absolute;
  width: 65%;
  left: 2.5rem;
  bottom: 1rem;
  height: 23%;
  background-color: cadetblue;
}


#scores{
  border: solid yellow;
  position: absolute;
  left: 2.5rem;
  bottom: 1rem;
  width: 65%;
  height: 25%;
}
#testPic {
	width: 30rem;
	height: 30rem;
	border: 5px solid green;
	background-color: yellow;
	font-size: 25rem;
  text-align: center;
	/* background-image: url(../media/testAsset.png); */
}

/* Leaderboard/History */

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100vw;
}
.tab a{
  position: absolute;
  right: 0;
  padding: 10px 30px 7px 30px;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
  border-bottom: 2px solid transparent;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: cadetblue;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: white;
  /* width: 48.5%; */
  width: 100%;
  background-color: cadetblue;
}
#history{
  position: relative;
  left: 50%;
  height: 100vh;
}
#leaderboard{
  position: relative;
  height: 100vh;
}

#shopTabcontent {
  display: none;
  /* left: 25%; */
}
#vendingMachine{
  /* border: solid green; */
  position: absolute;
  height: 80vh;
  top: 5.5%;
  width: 50%;
  left: 25%;
  background-color: transparent;
  background-image: url(../media/vendingMachine.png);
  background-size: contain;
  background-size: 55% 90%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  z-index: 1001;
}
#dispensors {
  /* border: solid red; */
  float: left;
  position: absolute;
  height: 100%;
  top: 0%;
  width: 100%;
  background-color: transparent;
  background-image: url(../media/vendingMachine_dispensors.png);
  background-size: contain;
  background-size: 55% 90%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  z-index: 1002;
}
#vendingItems {
  /* border: solid red; */
  float: left;
  position: absolute;
  top: 9%;
  left: 26%;
  width: 34%;
  height: 57%;
}
#vendingItems1 {
  /* border: solid yellow; */
  float: left;
  position: relative;
  top: 1%;
}
#vendingItems2 {
  /* border: solid green; */
  float: left;
  position: relative;
  top: 5%;
  height: 20%;
}
#vendingItems3 {
  /* border: solid blue; */
  float: left;
  position: relative;
  top: 13%;
}
#vendingItems4 {
  /* border: solid orange; */
  float: left;
  position: relative;
  top: 15%;
}
.boonContainer .boon {
  width: 100%;
}
.tooltip {
  position: absolute;
  /* top: 10%; */
  /* left: 10%; */
  width: 250%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1005;
}
/* .boonContainer:hover .tooltip {
  display: block;
} */
.boonContainer {
  /* border: solid red; */
  display: block;
  float: left;
  position: relative;
  width: 25%;
}

#diceMachine{
  position: absolute;
  height: 80vh;
  top: 5.5%;
  width: 50%;
  left: 25%;
  background-color: transparent;
  background-image: url(../media/gumballMachine.png);
  background-size: contain;
  background-size: 45% 90%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}


/* Game Screen */
#henchmenChart{
  height: clamp(37rem, 50rem, 82%);
  /* height: 80%; */
  width: 31%;
  position: absolute;
  right: 4%;
  top: 2%;
	/* background-image: url(../media/clipboard.png); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-position: 4rem -4rem; */
	background-color: white;
  border-style: solid;
	border-image-source: url(../media/border_clipboard.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	border-image-outset: 10px;
	user-select: none;
}
#box {
  position: absolute;
  background-color: #b1b1b1;
  height: 25%;
  width: 30%;
  top: 7%;
  left: 9%;
  background: url(../media/profilePic.png) no-repeat;
  background-size: contain;
  /* background-position: -200px -300px;
  background-size: contain;
  background-size: 1000px 1000px; */
}
#table1 {
  width: 48%;
  border-collapse: collapse;
  position: absolute;
  top: 7%;
  right: 9%;
  /* table-layout: fixed; */
}
#table2 {
  width: 82%;
  border-collapse: collapse;
  position: absolute;
  top: 35%;
  left: 9%;
  /* table-layout: fixed; */
}
th, td {
  /* border: 1px solid #ccc; */
  /* padding: 8px; */
  text-align: left;
  height: 2.5vh;
  /* font-size: .3vh; */
}
th {
  background-color: #b1b1b1; /* Grey background for header */
}
tr:nth-child(even) {
  background-color: #d3d3d3; /* White background for even rows */
}
tr:nth-child(odd) {
  background-color: #fff; /* Grey background for odd rows */
}
.Placeholder {
  color: #b1b1b1;
}
#henchName {
  font-size: clamp(1rem, 3.3vw, 3.35rem);
}


#field_01 {
  border: solid red;
  float: left;
  position: relative;
  height: 8vh;
  width: 11vw;
  top: 14vh;
  left: 12vw;
  font-size: 2.5rem;
  padding: .2rem;
  box-sizing: border-box;
}
/* #field_01 {
  border: solid red;
  float: left;
  position: relative;
  height: 10%;
  width: 31%;
  top: 17.5%;
  left: 33.5%;
  font-size: 2.5rem;
  padding: .2rem;
  box-sizing: border-box;
} */
/* #field_01 {
  border: solid red;
  float: left;
  position: relative;
  height: 4rem;
  width: 12rem;
  top: 7rem;
  left: 13rem;
  font-size: 2.5rem;
  padding: .2rem;
  box-sizing: border-box;
} */
#field_02 {
  border: solid blue;
  float: left;
  position: relative;
  height: 7.3rem;
  width: 50%;
  top: 13.9rem;
  left: -7rem;
  padding: .2rem;
  box-sizing: border-box;
}
#field_03 {
  border: solid green;
  float: left;
  position: relative;
  height: 8rem;
  width: 17rem;
  top: 14.9rem;
  left: 5.05rem;
  padding: .2rem;
  box-sizing: border-box;
}
#field_04 {
  border: solid yellow;
  float: left;
  position: relative;
  height: 7.3rem;
  width: 1.9rem;
  top: 5.9rem;
  left: 5.9rem;
  font-weight: bolder;
}
#field_05 {
  border: solid purple;
  float: left;
  position: relative;
  height: 7.1rem;
  width: 1.9rem;
  top: 15.9rem;
  left: 3.8rem;
  font-weight: bolder;
}

#henchmenHealth{
  position: absolute;
  left: 34%;
  top: 1%;
  background-color: green;
  width: 27%;
  height: 3%;
}

#staminaBar{
  width: 100%;
  height: 100%;
  background-color: green;
}

#henchman{
  border: solid black;
  background-image: url(../media/henchman_goomba.png), url(../media/texture2.png);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 34%;
  top: 5%;
  width: 27%;
  height: 51%;
}

#gameLogs{
  position: absolute;
  right: 1%;
  bottom: 1%;
  width: 45%;
  height: 35%;
	border-style: solid;
	border-image-source: url(../media/border4.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}
#average {
	float: left;
}

#diceArea{
  color: white;
  position: absolute;
  bottom: 1%;
  left: 1%;
  height: 35%;
  width: 45%;
  background-image: url(../media/unwrappedDiceOutlines.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
	border-style: solid;
	border-image-source: url(../media/border3.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	border-image-outset: 10px; /* Adjust the outset to move the border inwards */
	user-select: none;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
}

#specialDice{
  color: white;
  position: absolute;
  bottom: 1%;
  left: 1%;
  height: 35%;
  width: 45%;
  background-image: url(../media/unwrappedDiceOutlines.png);
	border-style: solid;
	border-image-source: url(../media/border3.png);
	border-image-slice: 30;
	border-image-width: 30px;
	border-image-repeat: repeat;
	border-image-outset: 10px; /* Adjust the outset to move the border inwards */
	user-select: none;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
	overflow-y: auto;
  display: none;
}

#rollDiceBtn{
  position: absolute;
  left: 40%;
  bottom: 15%;
  height: 5%;
  width: 15%;
  color: blue;
  background-color: #fafd35;
  font-size: 40px;
  transition-duration: .2s;
  transform: rotate(270deg);
}
#rollDiceBtn:hover{
  background-color: yellow;
  box-shadow: -5px 5px 20px blue;
}


#gameStats{
  border: solid darkorchid;
  position: absolute;
  top: .5%;
  right: 1%;
  width: 48%;
  height: 25%;
  /* text-align: center; */
  font-size: 24px;
	display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
	flex-direction: column; /* Arrange items in a column */
}
#gameStats > div {
	background-image: none;
}

#collectibleEffects{
  border: solid #ab19;
  position: absolute;
  top: 1%;
  left: 1%;
  width: 31%;
  height: 55%;
	box-sizing: border-box; /* Include padding and border in the total width and height */
	padding: 1.5rem;
  overflow-y: auto;
}
#collectibleEffects > .boon {
  /* border: solid #ab19; */
  max-width: clamp(4rem, 5.6rem, 28%);
  max-height: clamp(4rem, 5.6rem, 28%);
  position: relative;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard syntax */
}

input[type='number'] {
  width: 28px;
}