#devTools {
  border: solid red;
  position: absolute;
  width: 20%;
  background-color: cadetblue;
  /* position: absolute; */
  /* float: left; */
  font-size: 2rem;
  /* display: block; */
  cursor: pointer;
}

td{
  border-bottom: 1px solid rgba(68, 48, 17, 0.904);
  text-align: center;
}

td::after{
  box-shadow: 0px 40px 5px 0 rgb(48, 37, 20);
}

.diceSide {
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(100, 200, 200, 1);
  width: 1rem;
  text-align: center;
  font-weight: bolder;
  user-select: none;
}
.diceSide:hover {
  cursor: pointer;
}

.diceListDisplay {
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(200, 200, 200, 1);
  display: inline-block;
  user-select: none;
}
.diceListDisplay:hover {
  cursor: pointer;
}

.diceListItem {
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(200, 200, 200, 1);
  display: inline-block;
  user-select: none;
}
.diceListWrapper {
  background-color: green;
  position: relative;
  z-index: 1;
}

.active {
  color: white;
}

.slot {
  /* border: solid red; */
  font-size: 3rem;
  font-weight: bolder;
  user-select: none;
}
.slot:hover {
  cursor: pointer;
}

.center td {
  /* position: relative; */
  /* top: 30%; */
  width: 10%;
  height: 9rem;
  text-align: center;
}
.center > table {
  /* border: solid red; */
  position: relative;
  top: 10%;
}

#returnToGameBtn {
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 50%;
  left: 1rem;
  padding-left: 50px; 
  background-color: transparent;
  color: white;
  border: none; 
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}

#returnToGameBtn::before {
  content: ''; 
  position: absolute; 
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent white transparent transparent;
}
#returnToGameBtn span {
  display: none;
}

#returnToGameBtn:hover span {
  display: inline;
}