#devTools {
  border: solid red;
  position: absolute;
  /* width: 20%; */
  background-color: cadetblue;
  /* position: absolute; */
  /* float: left; */
  font-size: 2rem;
  /* display: block; */
  cursor: pointer;
}

td{
  border-bottom: 2px solid #ddd;;
  text-align: center;
}

td::after{
  box-shadow: 0px 40px 5px 0 rgb(48, 37, 20);
}

.diceSide {
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(100, 200, 200, 1);
  width: 1rem;
  text-align: center;
  font-weight: bolder;
  user-select: none;
}
.diceSide:hover {
  cursor: pointer;
}

#currentDice {
  width: 100%;
}

.diceList{
  text-align: center;  
  width: 100%;
  padding: 1rem;
  /* overflow-y: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.diceListDisplay {
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  user-select: none;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: relative;
}


.diceListDisplay:hover {
  cursor: pointer;
}

.diceListItem {
  background-color: rgba(100, 100, 100, .4);
  padding: 10px;
  margin: 5px;
  border: 3px solid #333;
  display: none;
  user-select: none;
}

.diceListWrapper {
  /* background-color: green; */
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
  margin-bottom: 10px;
  
}
.diceListWrapper:hover{
  cursor: pointer;
  text-shadow: 2px 2px 5px rgb(136, 127, 100);
}

.active {
  color: #eee;
  text-shadow: 1px 1px 1px black;
}

.slot {
  /* border: solid red; */
  font-size: 3rem;
  font-weight: bolder;
  user-select: none;
}
.slot:hover {
  cursor: pointer;
}

.left, .right {
  padding: 0 40px;
  overflow: hidden;
}

.shelf-table {
  width: 90%;
}

.shelf-table td {
  border-bottom: 2px solid #ffffff; 
  height: 200px;
}

.shelf-table td img{
  max-width: 200px;
  max-height: 200px;
}

.center td {
  /* position: relative; */
  /* top: 30%; */
  width: 10%;
  height: 9rem;
  text-align: center;
}
.center > table {
  /* border: solid red; */
  position: relative;
  height: 80%;
}

#modDiceBox{
  position: absolute;
  top: -0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1007;
}
#modDiceBox:before {
  content: '';
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust darkness here */
  z-index: -1;
  /* display: block; */
}

#modDiceContainer {
  border: 1.5rem solid black;
  border-radius: 5%;
  position: relative;
  float: left;
  height: 70%;
  width: 50%;
  top: 10%;
  left: 25%;
  /* background-image: url(../media/texture2.png); */
  /* background-color: rgb(35, 52, 108); */
  background-image: url(../media/background2.png);
  background-size: cover;
  box-sizing: border-box;
  /* display: block; */
  /* z-index: 1007; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerDiceFaces{
  align-content: center;
  text-align: center;
  position: absolute;
  left: 20%;
  top: 60%;
  color: #333;
  width: 60%;
  font-weight: 600;
  font-size: large;
}

.playerDiceFaces span {
  padding: 1rem;
  width: 30%;
  background-color: #555;
  border: 2px solid #444;
  color: #ddd;
  box-shadow: 2px 2px 2px #222;
  text-shadow: 2px 2px 1px black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.playerDiceFaces>span:hover{
  cursor: pointer;
  background-color: #666;
}

#modBackBtn{
  position: absolute;
  bottom: 5%;
  right: 10%;
  height: 8%;
  width: 10%;
}

#returnToGameBtn {
  position: absolute;
  height: 10%;
  width: 12%;
  bottom: 3%;
  left: 3%;
  padding-left: 50px; 
  background-color: transparent;
  color: white;
  border: none; 
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}

#returnToGameBtn::before {
  content: ''; 
  position: absolute; 
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent white transparent transparent;
}
#returnToGameBtn span {
  display: none;
}

#returnToGameBtn:hover span {
  display: inline;
}

.button-container {
  border: solid blue;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 90%;
  height: 40%;
  top: 10%;
  left: 5%;
  transform-style: preserve-3d;
}
.die-btn {
  margin: 1.1%;
  border: none;
  /* padding: 0; */
  background: transparent;
  /* background-image: url(../../src/media/Dice/d20.png); */
  background-size: contain; /* Adjusts the image size to cover the entire button */
  background-position: center; /* Centers the image within the button */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: black;
  /* font-family:; */
  font-size: 2.4rem;
  font-weight: bolder;
  cursor: pointer;
  /* width: 20%;
  height: 80%; */
  width: 80px;
  height: 80px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  float: left;
  /* box-sizing: border-box; */
  background-blend-mode: overlay;
  z-index: 1;
}
.die-btn:after {
  content: '';
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--dieBtnAfterBGColor, cadetblue);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  z-index: -10;
}

.d4:after {
  background-image: url(../../src/media/Dice/d4.png);
  mask-image: url(../../src/media/Dice/background_d4.png);
}
.d6:after {
  background-image: url(../../src/media/Dice/d6.png);
  mask-image: url(../../src/media/Dice/background_d6.png);
}
.d8:after {
  background-image: url(../../src/media/Dice/d8.png);
  mask-image: url(../../src/media/Dice/background_d8.png);
}
.d10:after {
  background-image: url(../../src/media/Dice/d10.png);
  mask-image: url(../../src/media/Dice/background_d10.png);
}
.d12:after {
  background-image: url(../../src/media/Dice/d12.png);
  mask-image: url(../../src/media/Dice/background_d12.png);
}
.d20:after {
  background-image: url(../../src/media/Dice/d20.png);
  mask-image: url(../../src/media/Dice/background_d20.png);
}

.selected {
  /* box-shadow: #25d34a 0 0 10px; */
  color: blue;
  font-size: 2.8rem;
  text-shadow: 5px 5px 20px whitesmoke, 
               -5px 5px 20px whitesmoke, 
               5px -5px 20px whitesmoke, 
               -5px -5px 20px whitesmoke;
  top: -0.5rem;
}

#playerData {
  /* position: relative; */
  overflow: auto;
}

#playerStamina {
  border: 2px solid black;
  position: relative;
  width: 75%;
  background-color: red;
  box-sizing: border-box;
  z-index: -2;
  margin-bottom: 1rem;
}

#playerStaminaBar {
  /* border: 2px solid black; */
  border-right: 2px solid black;
  background-color: blue;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#stamina {
  text-align: center;
  width: 100%;
}

#currency {
  border: 1px dotted green;
  margin-bottom: 1rem;
}

#boonBox {
  max-height: 75%;
  border: 3px solid #333;
  box-shadow: 2px 2px 2px rgb(20, 20, 20);
  background-color: rgba(20, 20, 20, .4);
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
  position: relative;
  scroll-behavior: auto;
}

#boonBox .tooltip {
  width: 30%;
  /* top: 10%;
  left: 10%; */
  font-size: 18pt;
}

#leftArrow, #rightArrow {
  position: absolute;
  top: 25%;
  /* transform: translateY(50%); */
  color: #aaa;
  /* border: 1px solid blue; */
  z-index: 99;
}

#leftArrow {
  left: 0;
  scroll-snap-align: start;
  text-shadow: 2px 2px 2px black;
}

#rightArrow {
  right: 0;
  /* right: calc(var(--scroll-offset)); */
  text-shadow: -2px 2px 2px black;
}


#boonBox .boon {
  max-width: 5rem;
  /* border: 1px solid black; */
  height: auto;
}

#boonBox .active {
  background-color: rgba(35, 35, 35, .2);
}

#devTools {
  border: solid red;
  /* width: 20%; */
  background-color: cadetblue;
  position: absolute;
  /* float: left; */
  font-size: 2rem;
  /* display: block; */
  cursor: pointer;
  z-index: 1;
  overflow: auto;
  max-width: 30%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tooltip {
  border: solid red;
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 16rem;
  /* height: 50%; */
  font-size: 1.2rem;
  background-color: black;
  color: rgb(207, 207, 207);
  padding: .6rem;
  border-radius: 5px;
  display: none;
  z-index: 1005;
}

#priceNbuy {
  width: 35%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border: 3px solid #333;
  padding: 1rem;
  display: flex;
  background-color: #aaa;
  box-shadow: 0 2px 5px black;
  justify-content: center;
}

#buyItem {
  margin-right: 3rem;
  font-size: 1.5rem;
  background-color: #555;
  border: 2px solid #444;
  color: #ddd;
  box-shadow: 2px 2px 2px #222;
  padding: 1rem;
  width: 40%;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

#buyItem:hover {
  background-color: #666;
}

#priceH2 {
  background-color: #555;
  border: 2px solid #444;
  color: #ddd;
  box-shadow: 2px 2px 2px #222;
  padding: 1rem;
  width: 40%;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

#priceH2 span {
  background-color: #444;
  border: 2px solid #333;
  padding: .4rem;
}